body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #2E2E2E;
}

a:link, a:visited {
    color: #31B404;
    text-decoration: none;
}
a:hover, a:active {
    color: #31B404;
    text-decoration: underline;
}

/* HEADER DIV */
#header {
    background-color: #E6E6E6;
    width: 100%;
    min-height: 175px;
}

#content {
    width: 100%;
}

/*  NAVIGATION */
#nav ul {
    float: right;
    margin-top: 10px;
}

li {
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
    font-size: 12px;

}

/* TITLES */
.head_title { 
    color: #FE9A2E;
    font-size: 70px;
    clear: right;
    text-align: center;
    margin-bottom: 20px;
}

.sub_title {
    font-size: 12px;
    font-weight: normal;
    margin: auto;
    text-align: center;
}

/* LOGO */

.logo_img {
    margin: 40px auto;
    display: block;
    width: 250px;
    height: 250px;
}


/* TEXT */
#text_wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

#left {
    width: 50%;
    display: inline-block;
    margin: 0;
}

#right {
    width: 45%;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.text {
    width: 85%;
    min-height: 100px;
    font-size: 12px;
    text-align: justify;
    margin: auto;

}

#footer {
    width: 100%;
    padding: 15px 0;
}

#footer ul {
    text-align: center;
    margin: auto;
    padding-left: 0;
}


/***********************

    RESPONSIVE

***********************/

@media screen and (max-width: 500px) {

    /* HEADER DIV */
    #header {
        min-height: 135px;
    }

    /* TITLES */
    .head_title { 
        font-size: 60px;
        margin-bottom: 5px;
    }

    /* TEXT */
    #left {
    width: 90%;
    display: block;
    }

    #right {
        width: 90%;
        display: block;
    }

    .text {
        width: 100%;
        padding: 15px 5% 0;
    }

    .logo_img {
        margin: 20px auto 5px;
        width: 200px;
        height: 200px;
    }

}

@media screen and (max-width: 400px) {

    /* TITLES */
    .head_title { 
        font-size: 45px;
    }

    .logo_img {
        margin: 15px auto 0;
        width: 150px;
        height: 150px;
    }
}